.bicicleta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.bicicleta-img {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.bicicleta-img img {
    flex: 1;
    min-width: 200px;
}

.bicicleta-img img:first-child {
    min-width: 100%;
}

.bicicleta-conteudo > p {
    margin-bottom: 32px;
}

.bicicleta-comprar {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    justify-items: start;
    gap: 8px 12px;
    margin-bottom: 40px;
}

.bicicleta-comprar a {
    grid-row: span 2;
}

.bicicleta-comprar span {
    display: flex;
    align-items: center;
    background-color: var(--color-12);
    gap: 8px;
    padding: 4px 8px;
    border-radius: 4px;
}

.bicicleta-conteudo h2 {
    text-transform: uppercase;
    letter-spacing: 0.015rem;
    margin-bottom: 12px;
}

.bicicleta-info,
.bicicleta-ficha {
    padding: 32px;
    background-color: var(--color-12);
    border-radius: 4px;
}

.bicicleta-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
    gap: 32px;
}

.bicicleta-info img {
    width: 24px;
    margin-bottom: 8px;
}

.bicicleta-info h3 {
    margin-bottom: 8px;
}

.bicicleta-ficha li{
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-11)
}

.bicicleta-ficha li:last-child{
    border-bottom: none;
}


.bicicleta-ficha span{
    color: var(--color-6);
}

#bike .title p{
    text-transform: uppercase;
}

@media (max-width: 800px) {
    .bicicleta{
        grid-template-columns: 1fr;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .bicicleta-img{
        grid-row: 2;
    }
}

@media (max-width: 400px) {
    .bicicleta-conteudo{
        grid-template-columns: 1fr;
    }
    .bicicleta-comprar{
        grid-template-columns: 1fr;
    }
}


.seguro-bg{
    background-color: var(--color-11);
    box-shadow: inset 0 120px var(--color-0), inset 0 -120px var(--color-12);
}

.seguro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.seguro h2{
    margin-bottom: 32px;
}

.seguro p{
    margin-bottom: 20px;
}

.seguro-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seguro-conteudo{
padding-top: 180px;
padding-bottom: 180px;
}

@media (max-width: 800px) {
    .seguro{
        grid-template-columns: 1fr;
    }
    .seguro-conteudo{
        grid-row: 1;
        padding-top: 40px;
        padding-bottom: 0px;
    }
    .seguro-bg{
        box-shadow: inset 0 -60px var(--color-12);
    }
}